body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container{
  width: 550px;
}
.login-container h2{
  font-size: 32px;
  color: #115780;
  margin: 5px;
  text-align: center;
  font-family: cursive;
}
.login-container .form-group{
  margin: 5px;
}
.login-container .form-group label{
  display: block;
  font-weight: 550;
  font-size: 18px;
  color: #162F3E;
}
.login-container .form-group input{
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 19px;
  font-weight: 550;
  width: 100%;
  outline: none;
  margin: 3px;
}